<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div *ngIf="getcartSize()<=0">
  
  <img class="empty"src="../../assets/emptycart.png"
   alt="">
   <h1 class="empty-content">Your cart is Empty...! 😕</h1>
</div>
<div  *ngIf="getcartSize()>0">
<mat-grid-list cols="2" rowHeight="1:1" gutterSize="2cm">
  <div *ngFor="let cart of cartitems">
    
    <mat-grid-tile class="a" id="top">
      <div class="div1">
        <img class="img" [src]="cart.product.image">
        <h3 class="proname">{{cart.product.name}}</h3>
        <h5>
         {{cart.product.description}}
        </h5>
        <h3>Quantity: {{cart.quantity}}</h3>
        <h3>Cost/Item :{{cart.product.cost}}</h3>
      </div>
      <div class="price">
        <br>
        
        <button mat-raised-button class="pricebutton">
          Total
          <h1>&#8377;{{cart.cost}}</h1>
        </button>
        </div>
      <div class="bill">
        <button mat-raised-button class="btn" (click)="openpaymentDialog(cart)">
          Proceed with the payment &#x21EB;
        </button>
        &nbsp;
        <button class="deletebutton" (click)="deleteItemFromcart(cart.id);">
          <i class="material-icons">delete</i>
        </button>
    </div>
    </mat-grid-tile>
  </div>