<mat-grid-list cols="2" rowHeight="1:1" gutterSize="2cm">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <mat-grid-tile class="a" id="top">
      <div class="div1">
        <img src="https://www.freepnglogos.com/uploads/laptop-png/laptop-png-who-are-adventoris-4.png">
        <h3 class="proname">Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 15.6</h3>
        <h5>
          Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 15.6" (39.62cm)
          FHD Thin Light Laptop(8GB/512GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Game Pass/Arctic Grey/1.65Kg)
        </h5>
      </div>
      <div class="price">
        <br>
        <button mat-raised-button class="pricebutton"><h1>45000&#8377;</h1>
        </button>
        </div>
      <div class="bill">
        
        <button mat-raised-button class="btn">
          Proceed with the payment &#x21EB;
        </button>
        &nbsp;
        <button class="deletebutton">
          <i class="material-icons">delete</i>
        </button>
    </div>
    </mat-grid-tile>
    <mat-grid-tile class="b">
        <div class="div1">
          <img src="https://images.samsung.com/is/image/samsung/p6pim/in/sm-e236blbhins/gallery/in-galaxy-f23-6gb-ram-sm-e236blbhins-531512718?$365_292_PNG$">
          &nbsp;
          <h3 class="proname">Galaxy F23</h3>
          <h5>
            The Galaxy F23 5G is the first ever Galaxy F-series phone with a Qualcomm Snapdragon processor.
            Now play games without any lag or multitask with multiple apps faster than ever before.
          </h5>
          </div>
          <div class="price">
            <br>
            <button mat-raised-button class="pricebutton"><h1>11000&#8377;</h1>
            </button>
          </div>

          <div class="bill">
            <button class="btn"><i class="fa fa-download"></i> Proceed with the payment &#x21E8;</button>
    
          </div>
    
      </mat-grid-tile>

<mat-grid-tile class="c">
    <div class="div1">
<div class="swetterimg">
<img class="swetter" src="https://static.vecteezy.com/system/resources/thumbnails/009/661/553/small/winter-clothes-vest-illustrations-watercolor-styles-free-png.png">
</div>
<h3 class="proname">Arrow brown sweater</h3>
<h5>Arrow brown sweater in brownish color which is sleeveless and nylon cloth material. soft washing product
with color intense quality. Can be wear in the winter and mansoon season, used inside and outside purpose
</h5>
</div>
<div class="price">
<button mat-raised-button class="pricebutton"><h1>750&#8377;</h1>
</button>
</div>
<div class="bill">
<button class="btn"><i class="fa fa-download"></i> Proceed with the payment &#x21E8;</button>
</div>
</mat-grid-tile>

<mat-grid-tile class="d">

    <div class="divd">

      <div class="imagediv">

        <img src="https://pngimg.com/uploads/football_boots/football_boots_PNG29.png">

      </div>

        <h3 class="proname">JOGEL Blue Gradient Football Shoe</h3>

        <h5>

          JOGEL football shoes which can used in both grass turf and normal mud ground, with good quality steds and well mannered stiching

          Those designed for grass pitches have studs on the outsole to aid grip.

        </h5>

      </div>

      <div class="price">

        <br>

        <button mat-raised-button class="pricebutton"><h1>1000&#8377;</h1>

        </button>

      </div>

      <div class="bill">

        <button class="btn"><i class="fa fa-download"></i> Proceed with the payment &#x21E8;</button>

      </div>

  </mat-grid-tile>

</mat-grid-list>

<div style="display:grid; justify-content:center">

  <a href="top">GO TO TOP &uArr;</a>

</div>

