

  <!-- <mat-toolbar style="background-color:black; color:white"> -->
    <mat-toolbar color="primary">
    <button (click)="onToolbarMenuToggle();" mat-icon-button class="example-icon" aria-label="Menu icon">
      <mat-icon style="color: white;">menu</mat-icon>
    </button>
    <span><i>Stop n Shop</i></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example" aria-label="Example icon-button with menu icon">
      <mat-icon style="padding:7px 7px 7px 0">account_circle</mat-icon>
    </button>
    <div *ngIf="isloggedIn">
    <button mat-button style="background: white;" color="primary" (click)="openloginDialog();">SignIn</button>
  </div>
   
    
  </mat-toolbar>
      <mat-sidenav-container style="height:92vh;">
        <mat-sidenav #sidenav mode="push" opened="true">
          <mat-nav-list class="navList" [style]="width">
            <a mat-list-item routerLink="home" (click)="onToolbarMenuToggle();" routerLinkActive="active"><mat-icon>home</mat-icon>Home</a>
            <a mat-list-item routerLink="side"(click)="onToolbarMenuToggle();"routerLinkActive="active"><mat-icon>shopping_basket</mat-icon>Products</a>
            <a mat-list-item routerLink="/shop"(click)="onToolbarMenuToggle();"routerLinkActive="active"><mat-icon>shopping_bag</mat-icon>My Orders</a>
            <a mat-list-item routerLink="/cart"(click)="onToolbarMenuToggle();"routerLinkActive="active"><mat-icon>shopping_cart </mat-icon>My Cart</a>
            <a mat-list-item routerLink="/history" (click)="onToolbarMenuToggle();"routerLinkActive="active"><mat-icon>room</mat-icon>Track Order</a>
          </mat-nav-list>
        </mat-sidenav>
        <router-outlet></router-outlet>
  </mat-sidenav-container>
