<div>
<mat-grid-list cols="2:1" rowHeight="6:1" gutterSize="2cm">
    <mat-grid-tile>
      <div class="div1">
      <img src="https://www.freepnglogos.com/uploads/laptop-png/laptop-png-who-are-adventoris-4.png">
      &nbsp;
      <h3 class="proname">Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 15.6</h3>
      <h5>
        Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 15.6" (39.62cm)
         FHD Thin Light Laptop(8GB/512GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Game Pass/Arctic Grey/1.65Kg)
      </h5>
      </div>
      <div class="price">
        <br>
        <button mat-raised-button class="pricebutton"><h1>45000&#8377;</h1>
        </button>
      </div>
      <!-- <div class="bill">
        <button class="btn"> Print Bill &#11015;</button>
      </div> -->
    </mat-grid-tile>
    </mat-grid-list>
    <div style="display:grid; justify-content:center">
      <button >Scroll to top</button>
    </div>
</div>