
<mat-grid-list cols="2:1" rowHeight="6:1" gutterSize="2cm">
  <div *ngFor="let order of orderList">
    <mat-grid-tile>
      <div class="div1">
      <img [src]="order.product.image">
      &nbsp;
      <h3 class="proname">{{order.product.name}}</h3>
      <h5>
       {{order.product.description}}
      </h5>
      <p><i><b>Ordered On:</b></i> {{order.orderDate|date:'MMMM d, y'}}<br>
       <i> <b>Estimated to be Deliverd on: </b></i>{{order.deliveryDate|date:'MMMM d, y'}}</p>
      </div>
      <div class="price">
        <br>
        <button mat-raised-button class="pricebutton"><h1><small>Total:</small> &#8377;{{order.totalCost}}</h1>
        </button>
      </div>
    </mat-grid-tile>
  </div>

    </mat-grid-list>
