<div>
<div *ngIf="checkemptyproduct();">
    <img class="noproduct" src="../../assets/product-not-found.jpg" width="30%" height="30%" alt="">
</div>
    <div class="container mt-5">
    <mat-grid-list cols="4" rowHeight="2:3" [gutterSize]="'10px'">
      <div *ngFor="let product of products">
        <mat-grid-tile class="product-tile">
          <div class="row product-images-container" >
          <img class="product-image" [src]="product.image" width="50%" height="50%" >
             <div class="name mt-1">
                <p><b>{{product.name}}</b></p>
              </div>
                
             <div>
              <p class="mt-1"><strong>Rs.{{product.cost}}</strong></p>
                <div>
                  <button mat-icon-button  [disabled]="product.value==1"  color="primary" type="button" (click)="removeitem(product);">-</button>
                  <input type="text" [disabled]="true" #value [value]="product.value" style="width: 40px;">
                  <button mat-icon-button type="button" [disabled]="product.value>=product.stock" color="primary" (click)="additem(product)">+</button>
                </div>
            <div style="width:100%;" >
            <div>
                <p>
                    <span class="truncate">{{product.description}}</span>
                    <a style="cursor: pointer;" (click)="openProductDialog(product)">Read more</a>
            </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="example-button-row">
          <button mat-raised-button color="black" (click)="openProductDialog(product);">View-Details</button>
            <button mat-raised-button [disabled]="true" *ngIf="product.stock<=0">out of stock</button>
            <button mat-raised-button color="primary" (click)="additemtocart(product)" style="margin-left:5px;" *ngIf="product.stock>0||product.stock>product.value">Add to cart</button>
      </div>
      </div>
    </div>
    </div>
    </div>
    </mat-grid-tile>
  </div>
  </mat-grid-list>
  </div>
  </div>
